.result {
  &--failed {
    color: red;
    margin-top: 1em;
    &__name {
      color: darkviolet;
    }
  }
  &--won {
    margin-top: 0.5em;
    color: darkviolet;
  }
}
.congratulation {
  color: green;
  font-size: 1.5em;
  margin-top: 1em;
}
